<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title></title>
  </head>

  <body>
    <h1 style="color:maroon;">Ini Adalah HALAMAN INDEX</h1>
    <a href = 'teachers'> Ke Link Teacher</a>
    <a href = 'subjects'> Ke Link Subject</a>
    <a href = 'students'> Ke Link Students</a>
  </body>

</html>
